# Python
__pycache__/

# PBJ
mesh_temp/

# output uqpb  and more
tests/
CSV_data/
output_*/
CTS_Solver.py

# experiments
experiments/check_samplers_and_pqr/tests/
experiments/check_samplers_and_pqr/random_coefficients/
local_data/